html {
    color: #fff;
}

a {
    color: #52B54B;
    outline: none !important;
    display: inline-block;
    transition: all .15s ease-out;
    transform: scale(1);
}

    a:focus {
        background: #52B54B;
        color: #fff;
        transform: scale(1.16);
        padding-left: .3em;
        padding-right: .3em;
        border-radius: .15em;
    }

    a:hover {
        text-decoration: underline;
    }

.skinContainer {
    background: #121212;
}

    .skinContainer.withBackdrop {
        background-color: rgba(6, 6, 6, .9);
        transition: background-color 1000ms ease-out;
    }

        .skinContainer.withBackdrop.detailBackdrop {
            background-color: rgba(6, 6, 6, .8);
            /*backdrop-filter: blur(5px);*/
        }

        .skinContainer.withBackdrop.staticBackdrop {
        background-color: rgba(6, 6, 6, .6);
        transition: background-color 1000ms ease-out;
    }

.headerLogo {
    background-image: url(images/logowhite.png);
}

.fieldDescription, .dimText {
    color: #aaa;
}

.dim {
    color: #aaa;
}

.mdl-textfield__input {
    border-bottom-color: rgb(115, 115, 115) !important;
}

select[is="emby-select"], input[is="emby-input"] {
    border-bottom-color: rgb(115, 115, 115);
}

paper-input label, paper-checkbox label, emby-dropdown-menu label, paper-textarea label, paper-checkbox #checkboxLabel, .selectLabelUnfocused {
    color: #bbb !important;
}

.inputLabel {
    color: #bbb;
}

.mdl-textfield__label {
    color: #bbb;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #52B54B !important;
}

.paper-checkbox-0 #ink[checked].paper-checkbox {
    color: #52B54B;
}

.paper-checkbox-0 #ink.paper-checkbox {
    color: #52B54B;
}

.paper-checkbox-0 #checkbox.checked.paper-checkbox {
    background-color: #52B54B;
    border-color: #52B54B;
}

.paper-checkbox-0 #checkbox.paper-checkbox {
    border-color: #bbb;
}

.paperRaised,[is="emby-button"].raised {
    background: #404040;
}

    .paperRaised:focus, [is="emby-button"]:focus:not(.btnUserViewHeader) {
        background: #52B54B;
        color: #fff;
    }

.card:not(.round) .cardFooter {
    background-color: #333;
}

.card[focused]:not(.round) .cardBox, .card:focus:not(.round) .cardBox {
    border-color: #52B54B;
    /*border-color: rgba(0, 0, 0, .6);*/
}

.card[data-cardtype='embyconnect'] .cardImageContainer {
    background-color: #52B54B;
}

.headerBackButton {
    color: #aaa;
}


.userViewNames button {
    opacity: .25;
}


.userViewButtonText {
    border-bottom: 2px solid transparent;
}

.userViewNames button.selected {
    color: #fff;
    opacity: 1;
}

.dialog {
    background-color: rgba(20,20,20,1) !important;
    color: #fff !important;
}

.albumsCard .cardImageContainer, .recordingsCard .cardImageContainer {
    background: #38c;
}

.allGenericCard .cardImageContainer, .artistsCard .cardImageContainer {
    background: #4CAF50;
}

.genresCard .cardImageContainer, .scheduledLiveTvCard .cardImageContainer {
    background: #F44336;
}

.movieCollectionsCard .cardImageContainer {
    background-color: #009688;
}

.movieGenresCard .cardImageContainer {
    background-color: #009688;
}

.tvUpcomingCard .cardImageContainer {
    background-color: #009688;
}

.emptyStar {
    color: #bbb !important;
}

.userViewNames button:focus {
    color: #52B54B !important;
    opacity: 1;
}

    .userViewNames button:focus .userViewButtonText {
        border-bottom-color: #52B54B;
    }

.userViewNames button:focus {
    color: #52B54B !important;
    opacity: 1;
}

    .userViewNames button:focus .userViewButtonText {
        border-bottom-color: #52B54B;
    }

.defaultCardColor1 {
    background-color: #009688;
}

.defaultCardColor2 {
    background-color: #D32F2F;
}

.defaultCardColor3 {
    background-color: #0288D1;
}

.defaultCardColor4 {
    background-color: #388E3C;
}

.defaultCardColor5 {
    background-color: #F57F17;
}

paper-slider #progressContainer {
    background-color: #666 !important;
}

.selectedItemSecondaryInfo {
    color: #ddd !important;
}

.listItem:focus {
    background-color: #333 !important;
    border-radius: .25em;
    border: 1px solid #388E3C;
}

.listItemBody .secondary {
    color: #999 !important;
}

.btnUserData {
    color: #aaa;
}

.btnUserDataOn {
    color: #cc3333;
}

.tagline {
    color: #FFEB3B;
}
