html {
    color: #fff;
}

a {
    color: #52B54B;
    outline: none !important;
    display: inline-block;
    transition: all .15s ease-out;
}

    a:focus {
        background: #52B54B;
        color: #fff;
        transform: scale(1.16);
        padding-left: .3em;
        padding-right: .3em;
        border-radius: .15em;
    }

    a:hover {
        text-decoration: underline;
    }

.backgroundContainer {
    background: #141414;
}

    .backgroundContainer.withBackdrop {
        background: linear-gradient(rgba(6, 6, 6, .9), rgba(6, 6, 6, .6), rgba(6, 6, 6, .9));
    }

.detailBackgroundContainer.withBackdrop {
    background: linear-gradient(to right, rgba(0, 0, 0, .99), rgba(0, 0, 0, .94), rgba(0, 0, 0, .5)) !important;
}

.headerLogo {
    background-image: url(images/logowhite.png);
}

.fieldDescription, .secondaryText {
    color: #aaa;
}

.checkboxLabel, .selectLabelUnfocused {
    color: #bbb !important;
}

.inputLabel, .textareaLabelUnfocused {
    color: #bbb;
}

.checkboxOutline {
    border-color: #bbb;
}

.emby-button.raised {
    background-color: rgba(170,170,190, .4);
    color: #fff;
}

.emby-button:focus:not(.btnUserViewHeader):not(.emby-tab-button) {
    background: #52B54B;
    color: #fff;
}

.card:focus:not(.card-round) .cardBox {
    border-color: #52B54B;
    /*border-color: rgba(0, 0, 0, .6);*/
}

.card[data-cardtype='embyconnect'] .cardImageContainer {
    background-color: #52B54B;
}

.headerBackButton {
    color: #aaa;
}


.userViewNames button {
    opacity: .25;
}

.userViewButtonText {
    border-bottom: 2px solid transparent;
}

.userViewNames button.selected {
    color: inherit;
    opacity: 1;
}

.dialog {
    background-color: rgba(20,20,20,1) !important;
    color: #fff !important;
}

.albumsCard .cardImageContainer, .recordingsCard .cardImageContainer {
    background: #38c;
}

.allGenericCard .cardImageContainer, .artistsCard .cardImageContainer {
    background: #4CAF50;
}

.genresCard .cardImageContainer, .scheduledLiveTvCard .cardImageContainer {
    background: #F44336;
}

.movieCollectionsCard .cardImageContainer {
    background-color: #009688;
}

.movieGenresCard .cardImageContainer {
    background-color: #009688;
}

.tvUpcomingCard .cardImageContainer {
    background-color: #009688;
}

.emptyStar {
    color: #bbb !important;
}

.userViewNames button:focus {
    color: #52B54B !important;
    opacity: 1;
}

    .userViewNames button:focus .userViewButtonText {
        border-bottom-color: #52B54B;
    }

.selectedItemSecondaryInfo {
    color: #ddd !important;
}

.listItem:focus {
    background-color: #333 !important;
    border-radius: .25em;
}

.listItemBody .secondary {
    color: #999 !important;
}
