html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", 'Open Sans', sans-serif;
}

html {
    font-size: 100%;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

html.layout-tv {
    font-size: 2.5vh;
}

.layout-tv h1 {
    font-size: 4.07vh;
}

.layout-tv h2 {
    font-size: 3.3333vh;
}

.layout-tv h3 {
    font-size: 3vh;
}
