/* This is used in place of fonts.css on devices where we would prefer to just use the system default font */
h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}