html {
    font-family: 'Segoe UI', Arial;
}

html {
    font-size: 100%;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 300;
}

html.layout-tv {
    font-size: 2.5vh;
}

.layout-tv h1 {
    font-size: 4.07vh;
}

.layout-tv h2 {
    font-size: 3.3333vh;
}

.layout-tv h3 {
    font-size: 3vh;
}