/* 480p */
.horizontalPageContent .squareCard .cardImageContainer, .homePageContent .squareCard .cardImageContainer, .listPageContent .squareCard .cardImageContainer {
    width: 95px !important;
    height: 95px !important;
}

.horizontalPageContent .backdropCard .cardImageContainer, .homePageContent .backdropCard .cardImageContainer, .listPageContent .backdropCard .cardImageContainer {
    width: 169px !important;
    height: 95px !important;
}

.horizontalPageContent .bannerCard .cardImageContainer, .homePageContent .bannerCard .cardImageContainer, .listPageContent .bannerCard .cardImageContainer {
    width: 169px !important;
    height: 25px !important;
}

.horizontalPageContent .portraitCard .cardImageContainer, .homePageContent .portraitCard .cardImageContainer, .listPageContent .portraitCard .cardImageContainer {
    width: 96px !important;
    height: 145px !important;
}

.wideSpotlightCard .cardImageContainer {
    height: 195px !important;
}

@media all and (min-height: 720px) {
    .horizontalPageContent .squareCard .cardImageContainer, .homePageContent .squareCard .cardImageContainer, .listPageContent .squareCard .cardImageContainer {
        width: 145px !important;
        height: 145px !important;
    }

    .horizontalPageContent .backdropCard .cardImageContainer, .homePageContent .backdropCard .cardImageContainer, .listPageContent .backdropCard .cardImageContainer {
        width: 258px !important;
        height: 145px !important;
    }

    .horizontalPageContent .bannerCard .cardImageContainer, .homePageContent .bannerCard .cardImageContainer, .listPageContent .bannerCard .cardImageContainer {
        width: 258px !important;
        height: 39px !important;
    }

    .horizontalPageContent .portraitCard .cardImageContainer, .homePageContent .portraitCard .cardImageContainer, .listPageContent .portraitCard .cardImageContainer {
        width: 147px !important;
        height: 220px !important;
    }

    .wideSpotlightCard .cardImageContainer {
        height: 295px !important;
    }
}

@media all and (min-height: 1080px) {
    .horizontalPageContent .squareCard .cardImageContainer, .homePageContent .squareCard .cardImageContainer, .listPageContent .squareCard .cardImageContainer {
        width: 225px !important;
        height: 225px !important;
    }

    .horizontalPageContent .backdropCard .cardImageContainer, .homePageContent .backdropCard .cardImageContainer, .listPageContent .backdropCard .cardImageContainer {
        width: 400px !important;
        height: 225px !important;
    }

    .horizontalPageContent .bannerCard .cardImageContainer, .homePageContent .bannerCard .cardImageContainer, .listPageContent .bannerCard .cardImageContainer {
        width: 400px !important;
        height: 60px !important;
    }

    .horizontalPageContent .portraitCard .cardImageContainer, .homePageContent .portraitCard .cardImageContainer, .listPageContent .portraitCard .cardImageContainer {
        width: 227px !important;
        height: 340px !important;
    }

    .wideSpotlightCard .cardImageContainer {
        height: 456px !important;
    }
}
