/* 480p */
.homePageContent .squareCard .cardImageContainer {
    width: 95px !important;
    height: 95px !important;
}

.homePageContent .backdropCard .cardImageContainer {
    width: 169px !important;
    height: 95px !important;
}

.homePageContent .bannerCard .cardImageContainer {
    width: 169px !important;
    height: 25px !important;
}

.homePageContent .portraitCard .cardImageContainer {
    width: 96px !important;
    height: 145px !important;
}

.wideSpotlightCard .cardImageContainer {
    height: 195px !important;
}

@media all and (min-height: 720px) {
    .homePageContent .squareCard .cardImageContainer {
        width: 145px !important;
        height: 145px !important;
    }

    .homePageContent .backdropCard .cardImageContainer {
        width: 258px !important;
        height: 145px !important;
    }

    .homePageContent .bannerCard .cardImageContainer {
        width: 258px !important;
        height: 39px !important;
    }

    .homePageContent .portraitCard .cardImageContainer {
        width: 147px !important;
        height: 220px !important;
    }

    .wideSpotlightCard .cardImageContainer {
        height: 295px !important;
    }
}

@media all and (min-height: 1080px) {
    .homePageContent .squareCard .cardImageContainer {
        width: 225px !important;
        height: 225px !important;
    }

    .homePageContent .backdropCard .cardImageContainer {
        width: 400px !important;
        height: 225px !important;
    }

    .homePageContent .bannerCard .cardImageContainer {
        width: 400px !important;
        height: 60px !important;
    }

    .homePageContent .portraitCard .cardImageContainer {
        width: 227px !important;
        height: 340px !important;
    }

    .wideSpotlightCard .cardImageContainer {
        height: 456px !important;
    }
}
