.skinHeader {
    display: block;
    vertical-align: middle;
    text-align: left;
}

.headerLeft {
    position: fixed;
    top: 3vh;
    left: 0;
    display: block;
    vertical-align: middle;
}

.headerBackButton {
    /* When this is visible it causes the header to jump around. Ideally we should fix that, but they should be able to use the remote back button */
    display: none !important;
}

.headerRight {
    position: fixed;
    top: 3vh;
    right: 0;
    display: block;
    text-align: right;
    vertical-align: middle;
}

.pageContainer {
    display: block;
}

.starRatingContainer {
    display: inline-block !important;
    vertical-align: middle;
}

.selectedItemMediaInfo {
    display: block;
    vertical-align: middle;
}

.cardImageContainer {
    display: block;
    align-items: initial;
    justify-content: initial;
}

.horizontalItemsContainer {
    white-space: nowrap;
    display: block;
    vertical-align: top;
}

    .horizontalItemsContainer .card {
        display: inline-block;
    }

.cardImageIcon {
    display: block !important;
    position: absolute !important;
    top: 15% !important;
    left: 25%;
}

.vertical-wrap {
    display: block;
}

    .vertical-wrap .card {
        display: inline-block;
    }

.searchFieldsInner {
    display: block;
    vertical-align: middle;
}

.searchPageContainer .iconSearch {
    display: none !important;
}

.mainSection {
    display: block !important;
}

    .mainSection > * {
        display: inline-block;
        vertical-align: top;
    }

.itemPageMain {
    width: 50%;
}

.mediaInfo, .osdTextContainer {
    display: block !important;
}

    .mediaInfo > *, .osdMediaInfo > *, .osdTextContainer > *, .buttons > * {
        display: inline-block;
        vertical-align: middle;
    }

.mainSection .itemPageButtons, .mainSection .itemPageUserDataIcons {
    display: inline-block;
}

.osdVolumeSlider {
    display: inline-block !important;
}

/* 480p */
.horizontalPageContent .squareCard .cardImageContainer, .homePageContent .squareCard .cardImageContainer, .listPageContent .squareCard .cardImageContainer {
    width: 95px !important;
    height: 95px !important;
}

.horizontalPageContent .backdropCard .cardImageContainer, .homePageContent .backdropCard .cardImageContainer, .listPageContent .backdropCard .cardImageContainer {
    width: 169px !important;
    height: 95px !important;
}

.horizontalPageContent .portraitCard .cardImageContainer, .homePageContent .portraitCard .cardImageContainer, .listPageContent .portraitCard .cardImageContainer {
    width: 96px !important;
    height: 145px !important;
}

.wideSpotlightCard .cardImageContainer {
    height: 195px !important;
}

.actionSheetScroller, .actionSheetContent, button.actionSheetMenuItem {
    display: block !important;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.actionSheetScroller {
    max-height: 600px !important;
}

@media all and (min-height: 720px) {
    .horizontalPageContent .squareCard .cardImageContainer, .homePageContent .squareCard .cardImageContainer, .listPageContent .squareCard .cardImageContainer {
        width: 145px !important;
        height: 145px !important;
    }

    .horizontalPageContent .backdropCard .cardImageContainer, .homePageContent .backdropCard .cardImageContainer, .listPageContent .backdropCard .cardImageContainer {
        width: 258px !important;
        height: 145px !important;
    }

    .horizontalPageContent .portraitCard .cardImageContainer, .homePageContent .portraitCard .cardImageContainer, .listPageContent .portraitCard .cardImageContainer {
        width: 147px !important;
        height: 220px !important;
    }

    .wideSpotlightCard .cardImageContainer {
        height: 295px !important;
    }
}

@media all and (min-height: 1080px) {
    .horizontalPageContent .squareCard .cardImageContainer, .homePageContent .squareCard .cardImageContainer, .listPageContent .squareCard .cardImageContainer {
        width: 225px !important;
        height: 225px !important;
    }

    .horizontalPageContent .backdropCard .cardImageContainer, .homePageContent .backdropCard .cardImageContainer, .listPageContent .backdropCard .cardImageContainer {
        width: 400px !important;
        height: 225px !important;
    }

    .horizontalPageContent .portraitCard .cardImageContainer, .homePageContent .portraitCard .cardImageContainer, .listPageContent .portraitCard .cardImageContainer {
        width: 227px !important;
        height: 340px !important;
    }

    .wideSpotlightCard .cardImageContainer {
        height: 456px !important;
    }
}

.nowPlayingPageContainer {
    white-space: nowrap;
}

.nowPlayingCardContainer, .nowPlayingInfoContainer {
    display: inline-block;
    vertical-align: middle;
}

.nowPlayingProgressContainer .sliderContainer {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}

.nowPlayingSecondaryButtons {
    display: none;
}

.card .indicators {
    top: 5px !important;
    right: 20px !important;
}

.volumeButtons {
    display: none;
}

.videoOsdBottom {
    display: block;
}

    .videoOsdBottom > * {
        display: inline-block;
        vertical-align: bottom;
    }
