.selectedItemInfo {
    display: none !important;
}

.pageContainer, .pageContainer.flex {
    padding-top: 59px !important;
}

@media all and (min-height: 720px) {
    .pageContainer, .pageContainer.flex {
        padding-top: 79px !important;
    }
}

@media all and (min-height: 1080px) {
    .pageContainer, .pageContainer.flex {
        padding-top: 119px !important;
    }
}

.detailImage {
    min-width: 200px;
    max-width: 260px;
    min-height: initial !important;
    max-height: 400px;
}
