button[is="paper-icon-button-light"]:focus paper-ripple.paper-icon-button-light {
    color: #52B54B;
}

paper-progress.block {
    display: block;
    width: 100%;
}

paper-progress.transparent #progressContainer {
    background: rgba(0,0,0,.5) !important;
}

.paper-slider-0 #sliderKnobInner.paper-slider {
    background-color: #52B54B;
    border-color: #52B54B;
}

.paper-slider-0 paper-ripple.paper-slider {
    color: #52B54B;
}

.paper-slider-0 #sliderKnobInner.paper-slider::before {
    background-color: #52B54B !important;
}

paper-progress #primaryProgress {
    background-color: #52B54B !important;
}

paper-progress #secondaryProgress {
    background-color: #92B54B !important;
}

paper-textarea .focused-line {
    background-color: #52B54B !important;
}

.paperCheckboxList paper-checkbox {
    display: block;
    margin: .5em 0;
}
