paper-icon-button.mediumSizeIcon {
    height: 4.6vh;
    width: 4.6vh;
}

iron-icon.mediumSizeIcon {
    height: 3.7vh !important;
    width: 3.7vh !important;
}

.largeIcon {
    width: 5.2vh;
    height: 5.2vh;
}

.xlargePaperIconButton {
    width: 7.4vh;
    height: 7.4vh;
}

    /* Tone these down a little because they end up looking massive */
    .xlargePaperIconButton[icon='thumb-up'], .xlargePaperIconButton[icon='thumb-down'], .xlargePaperIconButton[icon='favorite'] {
        width: 5.9vh;
        height: 5.9vh;
    }
