.skinHeader {
    display: block;
    vertical-align: middle;
    text-align: left;
}

.headerLeft {
    position: fixed;
    top: 3vh;
    left: 0;
    display: block;
    vertical-align: middle;
}

.headerBackButton {
    /* When this is visible it causes the header to jump around. Ideally we should fix that, but they should be able to use the remote back button */
    display: none !important;
}

.headerRight {
    position: fixed;
    top: 3vh;
    right: 0;
    display: block;
    text-align: right;
    vertical-align: middle;
}

.pageContainer {
    display: block;
}

.starRatingContainer {
    display: inline-block !important;
    vertical-align: middle;
}

.selectedItemMediaInfo {
    display: block;
    vertical-align: middle;
}

.cardImageContainer {
    display: block;
    align-items: initial;
    justify-content: initial;
}

.horizontalItemsContainer {
    white-space: nowrap;
    display: block;
    vertical-align: top;
}

    .horizontalItemsContainer .card {
        display: inline-block;
    }

.cardImageIcon {
    display: block !important;
    position: absolute !important;
    top: 15%;
    left: 25%;
}

.verticalItemsContainer {
    display: block;
}

    .verticalItemsContainer .card {
        display: inline-block;
    }

.searchFieldsInner {
    display: block;
    vertical-align: middle;
}

.mainSection {
    display: block !important;
}

    .mainSection > * {
        display: inline-block;
        vertical-align: top;
    }

.itemPageMain {
    width: 50%;
}

.mediaInfo, .osdMediaInfo, .osdTextContainer {
    display: block !important;
}

    .mediaInfo > *, .osdMediaInfo > *, .osdTextContainer > * {
        display: inline-block;
        vertical-align: middle;
    }

.mainSection .itemPageButtons, .mainSection .itemPageUserDataIcons {
    display: inline-block !important;
}

.osdVolumeSlider {
    display: inline-block !important;
}

/* 480p */
.horizontalPageContent .squareCard .cardImageContainer, .homePageContent .squareCard .cardImageContainer, .listPageContent .squareCard .cardImageContainer {
    width: 95px;
    height: 95px;
}

.horizontalPageContent .backdropCard .cardImageContainer, .homePageContent .backdropCard .cardImageContainer, .listPageContent .backdropCard .cardImageContainer {
    width: 169px;
    height: 95px;
}

.horizontalPageContent .portraitCard .cardImageContainer, .homePageContent .portraitCard .cardImageContainer, .listPageContent .portraitCard .cardImageContainer {
    width: 96px;
    height: 145px;
}

.wideSpotlightCard .cardImageContainer {
    height: 195px !important;
}

.largeIcon {
    width: 36px;
    height: 36px;
}

i.mediumSizeIcon, .mediumSizeIcon i {
    width: 32px;
    height: 32px;
}

.actionSheetScroller, .actionSheetContent, button.actionSheetMenuItem {
    display: block !important;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.actionSheetScroller {
    max-height: 600px !important;
}

@media all and (min-height: 720px) {
    .horizontalPageContent .squareCard .cardImageContainer, .homePageContent .squareCard .cardImageContainer, .listPageContent .squareCard .cardImageContainer {
        width: 145px;
        height: 145px;
    }

    .horizontalPageContent .backdropCard .cardImageContainer, .homePageContent .backdropCard .cardImageContainer, .listPageContent .backdropCard .cardImageContainer {
        width: 258px;
        height: 145px;
    }

    .horizontalPageContent .portraitCard .cardImageContainer, .homePageContent .portraitCard .cardImageContainer, .listPageContent .portraitCard .cardImageContainer {
        width: 147px;
        height: 220px;
    }

    .wideSpotlightCard .cardImageContainer {
        height: 295px !important;
    }

    i.largeIcon {
        height: 42px !important;
        width: 42px !important;
        font-size: 42px !important;
    }

    img.largeIcon {
        height: 42px !important;
        width: 42px !important;
    }

    i.mediumSizeIcon {
        width: 36px !important;
        height: 36px !important;
        font-size: 36px !important;
    }

    .xlargePaperIconButton {
        height: 48px !important;
        width: 48px !important;
        font-size: 48px !important;
    }
}

@media all and (min-height: 1080px) {
    .horizontalPageContent .squareCard .cardImageContainer, .homePageContent .squareCard .cardImageContainer, .listPageContent .squareCard .cardImageContainer {
        width: 225px;
        height: 225px;
    }

    .horizontalPageContent .backdropCard .cardImageContainer, .homePageContent .backdropCard .cardImageContainer, .listPageContent .backdropCard .cardImageContainer {
        width: 400px;
        height: 225px;
    }

    .horizontalPageContent .portraitCard .cardImageContainer, .homePageContent .portraitCard .cardImageContainer, .listPageContent .portraitCard .cardImageContainer {
        width: 227px;
        height: 340px;
    }

    .wideSpotlightCard .cardImageContainer {
        height: 456px !important;
    }

    i.largeIcon {
        height: 48px !important;
        width: 48px !important;
        font-size: 48px !important;
    }

    img.largeIcon {
        height: 48px !important;
        width: 48px !important;
    }

    i.mediumSizeIcon {
        width: 40px !important;
        height: 40px !important;
        font-size: 40px !important;
    }

    .xlargePaperIconButton {
        height: 64px !important;
        width: 64px !important;
        font-size: 64px !important;
    }
}

.nowPlayingPageContainer {
    white-space: nowrap;
}

.nowPlayingCardContainer, .nowPlayingInfoContainer {
    display: inline-block;
    vertical-align: middle;
}

.nowPlayingProgressContainer .sliderContainer {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}

.nowPlayingSecondaryButtons {
    display: none;
}

.indicators {
    top: 10px;
    right: 35px;
}
