a {
    text-decoration: none;
}

h1 {
    opacity: .7;
}

.headerLogo {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 6em;
    height: 1.8em;
    min-height: 40px;
    min-width: 74px;
    vertical-align: middle;
    display: inline-block;
}

.pageTitle {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    height: 1.7em;
    text-transform: capitalize;
}

.pageTitleWithLogo {
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 13.2em;
}

.headerAudioPlayerButton {
    color: #52B54B;
}

.headerBackButton {
    margin-left: -1.4em;
}

.headerButton {
    vertical-align: middle;
    margin: 0 .5em;
}

.searchButtonContainer {
    margin-right: .5em;
    margin-left: .5em;
}

.headerUserButton img {
    border-radius: 1000px;
}

.skinHeader {
    /* This will ensure it is on top of the main body */
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 11%;
}

.headerLeft {
    margin-left: 2.3%;
    display: flex;
    align-items: center;
}

.headerRight {
    margin-right: 2.3%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.headerClock {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
}

@media all and (max-width: 720px) {

    .headerClock {
        display: none !important;
    }
}

.layout-mobile .headerClock {
    display: none !important;
}

.flex-direction-column {
    flex-direction: column;
}

.pageContainer {
    padding-top: 11vh;
    overflow: hidden;
    contain: layout style;
}

    .pageContainer.flex {
        padding-top: 11vh;
        overflow: hidden;
        display: flex;
        contain: strict;
    }

    .pageContainer.vertical.fullWidth {
        display: block;
        width: 94.5%;
        margin: auto;
    }

    .pageContainer.vertical.centered {
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

@media all and (min-width: 1280px) {

    .pageContainer.vertical.centered {
        padding-left: 15%;
        padding-right: 15%;
    }
}

.itemScrollFrame.scrollFrameX .scrollSlider {
    padding-left: 4.5%;
}

.userViewNames {
    padding-left: 3.75%;
}

.itemScrollFrame.scrollFrameX {
    overflow: hidden;
}

    .itemScrollFrame.scrollFrameX .scrollSlider {
        padding-bottom: 1.2em;
        padding-top: 1.2em;
    }

    .itemScrollFrame.scrollFrameX.noTopPadding .scrollSlider {
        padding-top: 1.1em;
    }

.itemScrollFrame.scrollFrameY {
    height: 100%;
    /* Needed for native scroll */
    display: flex;
}

.scrollFrameY > .scrollSlider {
    padding: 0 2%;
    /* Needed for native scroll */
    flex-grow: 1;
}

.horizontalSectionsContainer {
    display: flex;
}

.horizontalPageContent h1 {
    margin-top: 0;
}

.scrollFrameY {
    overflow: hidden;
}

.scrollFrameX .scrollSlider {
    white-space: nowrap !important;
}

::-webkit-scrollbar {
    width: .5em;
    height: .5em;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: 2px;
    background: #888 no-repeat center;
}

.cardColumn {
    display: inline-block;
    vertical-align: top;
}

.userViewNames h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
}

.userViewNames .btnUserViewHeader {
    min-width: initial;
    text-transform: none !important;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: .2em;
}

.listNumbers {
    position: fixed;
    bottom: 2.5%;
    right: 1.5%;
}

    .listNumbers .selectedIndex {
        color: #4CAF50;
    }

.horizontalSection {
    margin-right: 1.25em;
    flex-shrink: 0;
}

    .horizontalSection .sectionTitle {
        font-size: 90%;
        padding-left: .1em;
    }

.listItemMediaInfo {
    color: #bbb !important;
}

.selectedItemInfo {
    position: fixed;
    bottom: .5%;
    left: 3.7vw;
    right: 10%;
    max-width: 70%;
    font-size: 84%;
    color: #ccc;
    /*position: relative;
    margin: auto;*/
    display: flex;
}

.homePageContainer .selectedItemInfo {
    right: 2%;
    bottom: 2.5%;
}

.selectedItemInfo h2 {
    margin: 0;
}

.selectedItemMediaInfo {
    display: flex;
    align-items: center;
    position: relative;
}

.selectedItemInfoLogo {
    width: 16%;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    margin-right: 1em;
    flex-shrink: 0;
}

.selectedItemInfoDetails {
    flex-shrink: 0;
    flex-grow: 1;
}

    .selectedItemInfoDetails > div {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/* Need to use :not due to conflict with loginSquareCard */
.horizontalPageContent .squareCard:not(.scalableCard) .cardImageContainer {
    width: 20.83vh;
    height: 20.83vh;
}

.horizontalPageContent .backdropCard .cardImageContainer {
    width: 37.04vh;
    height: 20.83vh;
}

.horizontalPageContent .bannerCard .cardImageContainer {
    width: 56.32432vh;
    height: 10.42vh;
}

.horizontalPageContent .portraitCard .cardImageContainer {
    width: 21.02vh;
    height: 31.57vh;
}

.homePageContent .squareCard:not(.scalableCard) .cardImageContainer {
    width: 21.85vh;
    height: 21.85vh;
}

.homePageContent .bannerCard .cardImageContainer {
    width: 56.32432vh;
    height: 10.42vh;
}

.homePageContent .backdropCard .cardImageContainer {
    width: 38.89vh;
    height: 21.85vh;
}

.homePageContent .portraitCard .cardImageContainer {
    width: 21.94vh;
    height: 32.96vh;
}

.listPageContent .squareCard:not(.scalableCard) .cardImageContainer {
    width: 21.5vh;
    height: 21.5vh;
}

.listPageContent .backdropCard .cardImageContainer {
    width: 38.222vh;
    height: 21.5vh;
}

.listPageContent .bannerCard .cardImageContainer {
    width: 56.32432vh;
    height: 10.42vh;
}

.listPageContent .portraitCard .cardImageContainer {
    width: 21.7333vh;
    height: 32.6vh;
}

.loginSquareCard {
    width: 54vw;
    flex-shrink: 0;
    display: inline-block !important;
}

@media (orientation: landscape) {
    .loginSquareCard {
        width: 40vh;
    }
}

@media (orientation: landscape) and (max-height: 600px) {

    .loginSquareCard {
        width: 50vh;
    }
}

@media (orientation: landscape) and (min-width: 800px) {

    .loginSquareCard {
        width: 26vw;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {

    .loginSquareCard {
        width: 18vw;
    }
}

.playlistPageContainer {
    display: block;
    width: 70%;
    margin: 0 auto 0;
    bottom: 0;
}

.playlistIndexIndicatorImage {
    background-size: initial !important;
    background-image: url(images/equalizer_white.gif) !important;
}

.repeatActive {
    color: #52B54B;
}

.listItemsMoreButtonContainer {
    text-align: right;
}

.listItemsMoreButton {
    margin: .25em .25em .25em 0 !important;
    padding: .3em .7em !important;
    font-size: 84% !important;
    text-transform: uppercase;
    min-width: initial;
    margin-left: auto;
}

.selectedItemPanel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 18%;
    background-color: rgb(20, 20, 20);
    z-index: 1;
}

.selectedItemPanelImage {
    height: 18%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.selectedItemPanelContent {
    padding: 1em;
}

.listPageButtons {
    text-align: center;
    margin-bottom: 1.5em;
}

    .listPageButtons button {
        padding: .2em .8em .35em;
        text-transform: none;
        font-size: 86%;
    }


.verticalSection {
    margin-bottom: 3em;
}

    .verticalSection > h2 {
        margin-bottom: .25em;
    }

.mainSection .raised {
    padding: .7em 1.3em;
    text-transform: none;
    margin: 0 .35em 0 0;
}

button.mini {
    font-size: 90%;
}

.horizontalItemsContainer {
    display: flex;
}

.xlargePaperIconButton {
    font-size: 2.1em !important;
}
