.guidePageContainer {
    bottom: 22%;
    left: 2.4%;
    padding-top: 9vh;
}

.guideSelectedInfo {
    top: 81%;
    left: 7%;
    position: absolute;
    max-width: 80%;
    display: flex;
    align-items: center;
}

    .guideSelectedInfo h2 {
        margin: 0;
    }

.guideItemDetails {
    max-width: 90%;
}

.guideOverview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.guideImage {
    margin-right: 1em;
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 15vh;
    width: 22vh;
    flex-shrink: 0;
}

.guideSelectedItemPrimaryInfo {
    display: flex;
    align-items: center;
}

.guideSelectedItemMediaInfo {
    margin-top: .15em;
    display: flex;
    align-items: center;
}
