.searchHeader .headerRight {
    display: none;
}

.searchFields {
    text-align: center;
}

    .searchFields .alphaPicker {
        margin-top: .7em;
    }

.searchFieldsInner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

.iconSearch {
    vertical-align: bottom;
    opacity: .5;
}

.searchResults .backdropCard {
    width: 25%;
}

.searchResults .squareCard {
    width: 16.66666666666666667%;
}

.searchResults .portraitCard {
    width: 16.66666666666666667%;
}
