.layout-tv .personCard {
    width: 14.285714285714285714285714285714%;
}

.itemFloatClear {
    clear: both;
}

.itemScrollFrame.clippedLeft {
    margin-left: 28%;
}

.mainSection {
    display: flex;
    margin-top: 2em;
}

.smallBottomMargin {
    margin-bottom: 1em;
}

.itemPageLeft {
    padding-right: 1.7em;
}

.itemPageMain {
    flex: 1;
}

.itemTitle {
    margin: .5em 0;
}

.albumTitle {
    text-align: left;
    margin: .5em 0 0;
}

.albumMainSection {
    margin-top: 0;
}

.seasonMainSection {
    margin-top: 0;
}

.albumMainSection .itemPageLeft {
    display: none;
}

.seasonMainSection .itemPageLeft {
    display: none;
}

.seasonMainSection .itemPageMain {
    text-align: center;
}

.bulletSeparator {
    color: #52B54B;
    margin: 0 .35em;
}

.mediaInfo {
    margin: 1em 0;
    display: flex;
    align-items: center;
}

.albumMainSection .mediaInfo {
    margin: 0;
}

.itemPageButtonsContainer {
    display: flex;
    align-items: center;
    margin: 1.5em 0;
}

.mainSection .itemPageButtons {
    margin-right: 1em;
}

.itemPageUserDataIcons button {
    margin-left: .25em !important;
}

.itemPageFixedLeft .itemPageUserDataIcons {
    margin-top: 1em;
    text-align: center;
}

.albumMainSection .itemPageUserDataIcons {
    display: none !important;
}

.itemPageFixedLeft .itemPageButtons button {
    padding-top: .3em;
    padding-bottom: .45em;
    margin: .35em 0;
    text-transform: none;
}

.detailImageContainer {
    /* Eliminates the gap of space between the image and progress bar*/
    line-height: 1;
}

    .detailImageContainer .itemProgressBar {
        position: relative;
        /* Slightly higher than it's height' */
        top: -.5em;
    }

.detailImage {
    min-width: 20vw;
    max-width: 36vw;
    min-height: 30vh;
    max-height: 67vh;
    box-shadow: 0 0 .8em #000;
    border: 1px solid #222;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.itemPageFixedLeft {
    position: absolute;
    top: 10%;
    left: 0;
    width: 25%;
    padding-top: 1.25em;
}

.leftFixedDetailImageContainer .detailImage {
    min-width: 0 !important;
    max-height: none !important;
    max-width: none !important;
    width: 100%;
    margin-bottom: 1em;
}

.trackList {
    margin: 1em 0 0 -.5em;
}

.episodes {
    margin: 1em 0 0 -.5em;
    text-align: left;
}

.mediaInfoIcons {
    margin: 1.25em 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .mediaInfoIcons > .mediaInfoText {
        margin-right: .5em;
    }

.mediaInfoText-upper {
    text-transform: uppercase;
}

.itemNextUpSection .backdropCard {
    width: 35% !important;
}

.mediaInfoImageIcon img {
    max-height: 100%;
}

.squareCard.chapterCard {
    width: 20%;
}

.parentName {
    display: flex;
    align-items: center;
}

.parentNameDivider {
    margin: 0 .25em;
}

.itemVerticalScrollSlider {
    /* Needed to position the logo */
    position: relative;
}

.detailLogo {
    width: 13vw;
    height: 3vw;
    position: absolute;
    top: 8.5%;
    right: 7%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media all and (max-width: 1400px) {

    .detailLogo {
        right: 5%;
    }
}

@media all and (max-width: 1200px) {

    .detailLogo {
        right: 2%;
    }
}

@media all and (max-width: 1100px) {

    .detailLogo {
        display: none;
    }
}
