.nowPlayingPageContainer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nowPlayingCardContainer {
    width: 25%;
    margin-right: 1em;
}

    .nowPlayingCardContainer .card {
        width: 100% !important;
    }

.nowPlayingInfoContainer {
    width: 35%;
}

.nowPlayingButtonsContainer {
    color: #eee;
}

    .nowPlayingButtonsContainer .userDataIcons {
        display: inline-block;
        margin-right: 1em;
        margin-left: .35em;
    }

.nowPlayingMetadata {
    padding-left: .25em;
    margin: 0 0 .5em;
}

.nowPlayingTime {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
}

.nowPlayingProgressContainer {
    display: flex;
    align-items: center;
}

.nowPlayingProgressContainer {
    margin: 1em 0;
}

.nowPlayingProgressSliderContainer {
    flex-grow: 1;
    margin-left: .5em;
}

.nowPlayingHeader .headerAudioPlayerButton {
    display: none;
}

.mouseIdle .nowPlayingButtonsContainer .buttonMute, .mouseIdle .nowPlayingButtonsContainer .nowPlayingVolumeSlider {
    visibility: hidden !important;
}

.nowPlayingSecondaryButtons {
    display: flex;
    align-items: center;
    margin-top: .5em;
}
