.osdHeader {
    padding-bottom: 3vh;
    background-color: rgba(0, 0, 0, .3);
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
    transition: transform 300ms ease-out, opacity 300ms ease-out;
    will-change: transform;
}

.osdHeader-hidden {
    transform: translate3d(0,-100%,0);
    opacity: 0;
}

.osdHeader .headerButton {
    display: none;
}

.osdHeader-hidden {
    transform: translate3d(0,-100%,0);
    opacity: 0;
}

.scenePicker {
    position: fixed;
    left: 12%;
    bottom: 20%;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chapterThumb {
    height: 24vh;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 1.9vh #000;
    -webkit-box-shadow: 0 0 1.9vh #000;
    box-shadow: 0 0 1.9vh #000;
    border: solid 1px #222;
    margin: 1vh;
    transition: opacity ease-out .3s;
}

    .chapterThumb:not(.selectedChapterThumb) {
        height: 22vh;
        opacity: .2;
        border-color: black;
    }

.videoOsdBottom {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    padding: 1%;
    display: flex;
    flex-direction: row;
    will-change: transform;
    transition: transform 300ms ease-out, opacity 300ms ease-out;
}

.videoOsdBottom-hidden {
    transform: translate3d(0,100%,0);
    opacity: 0;
}

.osdControls {
    flex-grow: 1;
}

.videoOsdBottom .buttons {
    padding: .25em 0 0;
    display: flex;
    align-items: center;
}

.videoOsdBottom paper-icon-button {
    color: #eee;
}

.osdVolumeSliderContainer {
    width: 6.5em;
    flex-grow: 1;
}

.volumeButtons {
    margin: 0 .5em 0 auto;
    display: flex;
    align-items: center;
}

.osdTimeText {
    margin-left: 1em;
}

.mouseIdle .videoOsdBottom .volumeButtons {
    display: none;
}

.osdPoster {
    width: 10%;
    position: relative;
    margin-right: .5em;
}

    .osdPoster img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
        -moz-box-shadow: 0 0 1.9vh #000;
        -webkit-box-shadow: 0 0 1.9vh #000;
        box-shadow: 0 0 1.9vh #000;
        border: solid 1px #222;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

.osdTitle {
    margin: 0;
    padding-left: .4em;
}

.osdMediaInfo {
    margin-left: 1em;
    color: #eee;
    display: flex;
    align-items: flex-end;
}

.osdTextContainer {
    display: flex;
    align-items: baseline;
}
